# 🧠 Taller 3 - SQL

Este taller está diseñado para que practiques consultas SQL usando `ipython-sql` y una base de datos sobre competencias de gimnasia rítmica. A lo largo del taller, trabajarás con tablas que representan gimnastas, conjuntos, campeonatos, instrumentos y evaluaciones.

**Objetivos del taller:**
- Aprender a crear tablas con claves primarias y foráneas.
- Insertar datos en una base SQLite.
- Realizar consultas básicas y avanzadas con SQL.
- Aplicar funciones de agregación y subconsultas.

### Esquema

Para esta actividad vamos a trabajar con el siguiente esquema:

- `Gimnastas(id_gim, nombre, fecha_nac, id_conj)`
- `Conjunto(id_conj, nombre conj)`
- `Instrumento(id_inst, nombre_inst)`
- `Campeonato(id_camp, nom_camp, fecha_camp)`
- `Tipo(id_tipo, nom_tipo)`
- `Presentacion(id_pres, id_gim, id_conj, id_inst, id_camp, id_tipo)`
- `Evaluacion(Pje_eje, Pje_Dif, Pje_art, id_pres)`

In [ ]:
%load_ext sql
%sql sqlite:///gimnasia.db

**Ojo**: cada vez que anteponemos `%sql` es porque esa línea corresponde a un comando a SQL que va a la base de datos en la que estamos trabajando (en este caso `gimnasia.db`). Si queremos tener todo un bloque con instrucciones SQL tenemos que usar `%%sql` (habrán ejemplos de esto a lo largo del _notebook_).

### Crear tablas

Tu primera prueba será crear una base de datos de acuerdo el esquema de arriba. La sintaxis para crear tablas en SQL es la siguiente (si están trabajando desde el cliente, después de cada sentencia SQL debes poner un punto y coma `;`):

```SQL
CREATE TABLE <Nombre Tabla> (<atributo_1> tipo, ... , <attributo_N> tipo)
```

Por ejemplo, para crear las tablas de esta actividad el código es el siguiente:

In [ ]:

%%sql

DROP TABLE IF EXISTS Gimnastas;
DROP TABLE IF EXISTS Conjuntos;
DROP TABLE IF EXISTS Instrumentos;
DROP TABLE IF EXISTS Campeonatos;
DROP TABLE IF EXISTS Tipos;
DROP TABLE IF EXISTS Presentaciones;
DROP TABLE IF EXISTS Evaluaciones;

CREATE TABLE Conjuntos (
    id_conj INTEGER PRIMARY KEY,
    nombre_conj TEXT
);

CREATE TABLE Gimnastas (
    id_gim INTEGER PRIMARY KEY,
    nombre TEXT,
    fecha_nac TEXT,
    id_conj INTEGER,
    FOREIGN KEY (id_conj) REFERENCES Conjuntos(id_conj)
);

CREATE TABLE Instrumentos (
    id_inst INTEGER PRIMARY KEY,
    nombre_inst TEXT
);

CREATE TABLE Campeonatos (
    id_camp INTEGER PRIMARY KEY,
    nombre_camp TEXT,
    fecha_camp TEXT
);

CREATE TABLE Tipos (
    id_tipo INTEGER PRIMARY KEY,
    nombre_tipo TEXT
);

CREATE TABLE Presentaciones (
    id_pres INTEGER PRIMARY KEY,
    id_gim INTEGER,
    id_conj INTEGER,
    id_inst INTEGER,
    id_camp INTEGER,
    id_tipo INTEGER,
    FOREIGN KEY (id_gim) REFERENCES Gimnastas(id_gim),
    FOREIGN KEY (id_conj) REFERENCES Conjuntos(id_conj),
    FOREIGN KEY (id_inst) REFERENCES Instrumentos(id_inst),
    FOREIGN KEY (id_camp) REFERENCES Campeonatos(id_camp),
    FOREIGN KEY (id_tipo) REFERENCES Tipos(id_tipo)
);

CREATE TABLE Evaluaciones (
    id_pres INTEGER,
    pje_eje REAL,
    pje_dif REAL,
    pje_art REAL,
    PRIMARY KEY (id_pres, pje_eje, pje_art, pje_dif),
    FOREIGN KEY (id_pres) REFERENCES Presentaciones(id_pres)
);

En el código anterior, tenemos tablas con llave primaria compuesta. En general, para crear una tabla con llave primaria, lo señalamos al final, de la forma:

```SQL
CREATE TABLE <Nombre Tabla> (
    <atributo_1> tipo, ...,
    <attributo_N> tipo,
    PRIMARY KEY(<atributos separados por coma (,)>))
```

Si la tabla tiene llaves foráneas que hacen referencia a un campo de otra tabla, la sintaxis es la siguiente:

```SQL
CREATE TABLE <Nombre Tabla> (
    <atributo_1> tipo, ...,
    <attributo_N> tipo,
    PRIMARY KEY(<atributos separados por coma (,)>)
    FOREIGN KEY (atributo_X) REFERENCES TABLA(atributo_foraneo))
```

Si ejecutamos la consulta `SELECT * FROM Conjuntos` notaremos que el resultado es vacío. Esto es evidente, ya que esta consulta me retorna todo lo que tengo en la tabla `Conjuntos` y actualmente no hemos insertado nada.

In [ ]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql Select * from Conjuntos;

### Innsertar Valores

Para insertar valores, la forma básica es la siguiente:

```SQL
INSERT INTO <Nombre Tabla>
VALUES (<valor atributo 1> , ..., <valor atributo N>)
```

Por ejemplo si ejecutamos la consulta:

```SQL
INSERT INTO Conjuntos VALUES (1, 'Estrellas');
```

estamos insertando un Conjunto con `id_conj` 1 y `nombre_conj` Estrellas.

In [ ]:
%sql INSERT INTO Conjuntos VALUES (1, 'Estrellas');

Ahora que hemos insertado nuestro primer registro en la base de datos, podremos ejecutar nuevamente la consulta sobre la tabla `Conjuntos` y obtendremos un resultado distinto.

In [ ]:
%sql Select * from Conjuntos;

A continuación está el código para poblar todas las tablas de la base de datos

In [ ]:

%%sql

-- Insertar conjuntos
INSERT INTO Conjuntos VALUES (2, 'Fantásticas');
INSERT INTO Conjuntos VALUES (3, 'Auroras');

-- Insertar gimnastas
INSERT INTO Gimnastas VALUES (1, 'Ana Torres', '2005-03-12', 1);
INSERT INTO Gimnastas VALUES (2, 'Lucía Pérez', '2006-07-25', 1);
INSERT INTO Gimnastas VALUES (3, 'María Gómez', '2004-11-05', 2);

-- Insertar instrumentos
INSERT INTO Instrumentos VALUES (1, 'Cinta');
INSERT INTO Instrumentos VALUES (2, 'Aro');
INSERT INTO Instrumentos VALUES (3, 'Manos libres');

-- Insertar campeonatos
INSERT INTO Campeonatos VALUES (1, 'Campeonato Nacional', '2023-06-15');
INSERT INTO Campeonatos VALUES (2, 'Copa Primavera', '2023-09-10');
INSERT INTO Campeonatos VALUES (3, 'Copa Invierno', '2025-06-10');


-- Insertar tipos
INSERT INTO Tipos VALUES (1, 'Individual');
INSERT INTO Tipos VALUES (2, 'Conjunto');

-- Insertar presentaciones
INSERT INTO Presentaciones VALUES (1, 1, NULL, 1, 1, 1);
INSERT INTO Presentaciones VALUES (2, NULL, 1, 2, 1, 2);
INSERT INTO Presentaciones VALUES (3, 3, NULL, 3, 2, 1);

-- Insertar evaluaciones
INSERT INTO Evaluaciones VALUES (1, 8.5, 9.0, 8.8);
INSERT INTO Evaluaciones VALUES (2, 9.2, 8.7, 9.0);
INSERT INTO Evaluaciones VALUES (3, 7.8, 8.0, 8.5);

Si intentamos ejecutar nuevamente el siguiente código nuevamente, obtendremos un error. No es posible insertar 2 tuplas con la misma llave.

```SQL
INSERT INTO Conjuntos VALUES (1, 'Estrellas');
```

In [ ]:
%sql INSERT INTO Conjuntos VALUES (1, 'Estrellas');

### Ejecución de Consultas

Las consultas más básicas son de la forma `SELECT - FROM - WHERE`. En general, la consulta de álgebra relacional:

$$
\pi_{a_1, \dots, a_n}(\sigma_{\text{condiciones}}(R_1 \times R_m))
$$

se traduce en SQL como:

```SQL
SELECT a_1, ..., a_n
FROM R_1, ..., R_m
WHERE <condiciones>
```
Prueba la siguiente consulta:

In [ ]:
%%sql
Select *
From Gimnastas
Where id_gim = 1;

Para realizar un Join de tablas la sintaxis es
```SQL
SELECT a_1, ..., a_n
FROM R_1, ..., R_m
WHERE R_1.a_1 = R_j.aj;
```
Probemos ejecutando las siguientes consultas que obtiene la información de las gimnastas que pertenecen al conjunto **Estrellas**.

Se incluyen las sintaxis usando `Where` o usando `Join`

In [ ]:
%%sql
Select *
From Gimnastas as G,
  Conjuntos as C
Where G.id_conj = C.id_conj
  And C.nombre_conj = 'Estrellas';

In [ ]:
%%sql
Select *
From Gimnastas as G
  Join Conjuntos as C On G.id_conj = C.id_conj
Where C.nombre_conj = 'Estrellas';

## 🏋️ Ejercicios

Responde los siguientes ejercicios usando consultas SQL.

**1.** Listar todos los campeonatos que se realizaron en el año 2023.

In [ ]:
%%sql

**2.** Listar todas las gimnastas menores de 18 años.

**3.** Insertar los instrumentos `Balón` y `Àro` en la tabla instrumentos

**4.** Crear presentaciones `Ìndividuales` con los instrumentos `Balón`y `Àro`.

**5.** Crear presentaciones `Conjunto` con los instrumentos `Balón`y `Àro`.

**6.** Listar todas las gimnastas con el nombre de su conjunto.

**7.** Mostrar las presentaciones individuales con el nombre del instrumento y el puntaje artístico.


**8.** Listar los nombres de los conjuntos que han participado en el 'Campeonato Nacional'.

**9.** Mostrar el nombre de la gimnasta con el mayor puntaje de dificultad.

**10.** Contar cuántas presentaciones se han realizado por cada instrumento.

**11.** Listar los campeonatos en los que ha participado la gimnasta 'Ana Torres'.

**12.** Listar todas las presentaciones junto con el nombre del campeonato, tipo de presentación y puntajes.